.*.swp
*~

__pycache__
*.pyc
*.db

*.xml.old
error.log
run.log
run.log.*
*.xml
!conf.xml
!test/*.xml
newlist/
html/
cookie.txt
start_idx.txt
log/
.htaccess
.htpasswd
www/jquery*
www/work
result.*.temp
.mypy_cache/
.idea/
TAGS
cookies.json
global_config.json
.python-version
