apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: loki-ingress
  namespace: feedmaker
spec:
  ingressClassName: traefik
  rules:
  - host: loki.k8s
    http:
      paths:
      - path: /loki
        pathType: Prefix
        backend:
          service:
            name: loki-gateway
            port:
              number: 80

