astroid==2.3.1
beautifulsoup4==4.8.1
bs4==0.0.1
certifi==2019.9.11
chardet==3.0.4
entrypoints==0.3
flake8==3.7.8
html-parser==0.2
html5lib==1.0.1
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.2
lxml==4.4.1
mccabe==0.6.1
mypy==0.730
mypy-extensions==0.4.2
mysqlclient==1.4.6
ordered-set==3.1.1
Pillow==6.2.2
ply==3.11
psutil==5.6.6
pycodestyle==2.5.0
pyflakes==2.1.1
pylint==2.4.2
PyRSS2Gen==1.1
python-dateutil==2.8.0
requests==2.22.0
selenium==3.141.0
six==1.12.0
soupsieve==1.9.4
typed-ast==1.4.0
typing-extensions==3.7.4
urllib3==1.25.6
webencodings==0.5.1
wrapt==1.11.2
xmltodict==0.12.0
