astroid==2.3.1
beautifulsoup4==4.7.1
certifi==2019.9.11
chardet==3.0.4
entrypoints==0.3
flake8==3.7.7
html5lib==0.999999999
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.2
lxml==4.3.3
mccabe==0.6.1
mypy==0.670
mypy-extensions==0.4.2
ordered-set==3.1.1
Pillow==6.0.0
psutil==5.6.1
pycodestyle==2.5.0
pyflakes==2.1.1
pylint==2.3.1
PyRSS2Gen==1.1
python-dateutil==2.8.0
requests==2.21.0
selenium==3.141.0
six==1.12.0
soupsieve==1.9.4
typed-ast==1.3.5
urllib3==1.24.3
webencodings==0.5.1
wrapt==1.11.2
xmltodict==0.12.0
