/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  my style definition
*/
body * { font-size: 10pt; margin: 0; padding: 0; }
.xml { font-size: 70%; border: 1px solid gray; }
h1 { font-size: 15pt; font-weight: bold; color: green; margin-top: 15px; margin-left: 0px; }
h2 { font-size: 14pt; font-weight: bold; color: blue; margin-top: 15px; margin-left: 5px; }
h3 { font-size: 13pt; font-weight: bold; color: darkgreen; margin-top: 15px; margin-left: 10px; }
h4 { font-size: 12pt; font-weight: bold; color: darkblue; margin-top: 10px; margin-left: 15px; }
h5 { font-size: 11pt; font-weight: normal; color: green; margin-top: 10px; margin-left: 20px; }
.block { margin-top: 5px; margin-left: 25px; margin-bottom: 5px; border: 1px dashed #ddd; padding: 2px; }
.c31 { color: red; }
.c32 { color: green; }
.c34 { color: blue; }
.c35 { color: violet; }
.c39 { color: black; }
li { margin: 5px 5px 5px 5px; }
br { margin: 0px; }

